messenger:
    buses:
        default:
            singleHandlerPerMessage: true
    transports:
        test:
            dsn: custom://foo
            serializer: Fixtures\DummySerializer
    routing:
        Fixtures\Message: test

services:
    - Fixtures\CustomTransport
    - class: Fixtures\CustomTransportFactory
      tags: [messenger.transportFactory]
