messenger:
    buses:
        default:
            singleHandlerPerMessage: true
            middleware:
                - Fixtures\StampAddingMiddleware(Fixtures\Stamp('first'))
                - Fixtures\StampAddingMiddleware(Fixtures\Stamp('second'))

services:
    - class: Fixtures\Handler
      tags: [messenger.messageHandler]
