messenger:
    buses:
        default:
            singleHandlerPerMessage: true
services:
    - class: Fixtures\Handler
      tags: [messenger.messageHandler]

    - class: Fixtures\Handler
      tags: [messenger.messageHandler]
