messenger:
    buses:
        default:
        other:

services:
    - factory: Fixtures\Handler('default result')
      tags: [messenger.messageHandler]

    - factory: Fixtures\Handler('other result')
      tags: [messenger.messageHandler]

