parameters:
    ignoreErrors:
        - '~Cannot access property (\$buses|\$transports|\$routing|\$serializer|\$failureTransport) on array\|object\.~'
        - '~Cannot access property \$failureTransport on Fmasa\\Messenger\\DI\\TransportConfig\|string\.~'
        - '~Unable to resolve the template type T in call to method Nette\\DI\\ContainerBuilder::addDefinition\(~'
        - '~Call to an undefined method Nette\\DI\\Definitions\\Definition::setArguments\(~'
        - '~Call to an undefined method Nette\\DI\\Definitions\\Definition::setFactory\(~'
        - '~Call to protected method setType\(\) of class Nette\\DI\\Definitions\\Definition\.~'
